<th><%= t ".repeat_on" %></th>
<td>
  <div>
    <span class="ep-rec-dow">
      <%= f.fields_for :repeat_ons do |repeat_builder| %>
        <%= repeat_builder.check_box :repeat_on,
          {
            checked: repeat_builder.object.persisted?,
            id: "repeat-#{repeat_builder.index}"
          },
          repeat_builder.object.repeat_on, nil %>
        <%= repeat_builder.label :repeat_on, repeat_builder.object.repeat_on %>
      <% end %>
    </span>
  </div>
</td>
