<th><%= t ".repeat_on" %></th>
<td>
  <div>
    <span class="ep-rec-dow">
      <% Settings.event.repeat_data.each_with_index do |r, i| %>
        <%= check_box_tag "repeat_ons[]", r, false, id: "repeat-#{i}" %>
        <%= label_tag r %>
      <% end %>
    </span>
  </div>
</td>
