<div>
  <%= hidden_field_tag "calendar[user_calendars_attributes][][user_id]", user_id %>
  <div class="col1"><%= email %></div>
  <div class="col2">
    <%= select_tag "calendar[user_calendars_attributes][][permission_id]",
      options_from_collection_for_select(permissions, :id, :permission,
      permission), class: "form-control permission-select",
      id: "permission-select-share" %>
  </div>
  <div class="col3">
    <%= image_tag "icon_delete.gif", {id: "#{user_id}",
      class: "image-remove"} %>
  </div>
</div>
