<li><%= @calendar.name %></li>
<li>
  <%= link_to t("calendars.delete_calendar"), user_calendar_path(current_user, @calendar),
    method: :delete, data: {confirm: t("calendars.confirm_delete")} %>
</li>
