/*calendar index*/

#calcontent {
  z-index: 1000;
  padding: 0;

  .logo {
    margin-left: 15px;
    margin-top: 15px;
    color: #D84937;
    font-size: 16px;
  }

  #nav {
    margin-left: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 165px;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;
  }

  #mothertable {
    position: relative;
  }

  #sidebar {
    width: 165px;
    padding: 5px 0px 5px 0px;
    white-space: nowrap;
  }

  .mainbody {
    margin-left: 184px;
    margin-right: 15px;
    padding-top: 9px;
    -moz-transition: margin-left .218s;
    -webkit-transition: margin-left .218s;
  }

  /*sidebar*/

  .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .dropdown-toggle:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn {
      position: relative;
      float: left;
      outline: none;
      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    a {
      font-weight: bold;
    }
    #current-user-id-popup {
      display: none;
    }
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .open {
    .dropdown-menu {
      display: block;
    }
  }

  #other-calendar {
    .send-request-email {
      position: relative;
      #request-email-input {
        font-size: 12px;
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        padding: 5px 5px;
        border: 1px solid #bababa;
        border-right: 0;
        color: gray;
        outline: none;
      }
      #request-email-button {
        width: 25px;
        height: 25px;
        background-color: #fff;
        color: #999;
        border: 1px solid #bababa;
        border-left: none;
        font-size: 14px;
        transition: background-color 0.2s;
        background-image: url(image_path("icon_add.png"));
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          background-color: #bababa;
        }
      }
    }
    .border-light {
      border-color: #dedede;
    }
  }

/* popup button create */

  .qab-container {
    background: #fff;
    border-color: #ccc;
    padding: 0px 10px 0px 10px;

    textarea {
      width: 350px;
      height: 17px
    };

    p {
      color: #888;
      font-size: 11px;
      margin: 0;
    };

    label {
      font-size: 13px;
      font-weight: normal;
      color: #222;
      display: block;
      font-weight: normal;
      margin: 0;
    };

    #btn-quick-add {
      display: inline-block;
      background: #f5f5f5;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 0;
      cursor: pointer;
      font-size: 11px;
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      min-width: 54px;
      outline: none;
      text-align: center;
      text-decoration: none;
      a {
        color: black;
        padding: 5px 16px;
      }
    }
  }

  .qab-container * {
    vertical-align: middle;
  }

  /*my calendar*/

  .calHeader {
    line-height: 20px;
    padding: 2px 0;
    margin-left: -16px;
    margin-right: -5px;
    color: #222;
    font-weight: 500;
    position: relative;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 5px 5px 10px;
    zoom: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    .hover-my-calendar {
      line-height: 30px;
      &:hover {
        background-color: #e6e6e6;
      };
      #clst_my_menu {
        &:hover {
          background-color: #e6e6e6;
        };
      }
    }
  }

  h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
  }

  .goog-zippy-collapsed .zippy-arrow {
    background-position: -153px -81px;
  }

  .goog-zippy-collapsed .zippy-arrow-mini-calendar {
    background-position: -153px -81px;
  }

  .zippy-arrow, .zippy-arrow-mini-calendar {
    display: -moz-inline-box;
    display: inline-block;
    width: 11px;
    height: 11px;
    line-height: 0;
    vertical-align: middle;
    background-image: url(image_path("combined_v46_vr.png"));
  }

  #mini-calendar {
    display: block;
  }

  #mini-calendar.out {
    display: none;
  }

  #title-mini-calendar {
    display: none;
  }

  #title-mini-calendar.in {
    display: block;
  }

  .clstMenu, .clstMenu-child {
    background: url(image_path("combined_v46_vr.png")) -217px 0;
    border: 1px solid #b5b5b5;
    border-radius: 1px;
    height: 11px;
    font-size: 1px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    text-indent: -100px;
    top: 15px;
    width: 10px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
  }

  .clstMenu-child {
    padding-left: 2px;
    height: 10px;
    width: 8px;
    top: 8px;
    right: 5px;
    display: none;
    cursor: pointer;
  }

  /* sub menu my calendar */
  .sub-menu {
    position: absolute;
    z-index: 1000;
    background: #fff;
    white-space: nowrap;
    transition: opacity .218s;
    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    font-size: 13px;
    width: 210px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    div {
      padding: 0;
      cursor: pointer;
      text-decoration: none;
      a {
        padding: 0.6em;
        display: block;
        color: #333;
      }
      &:hover {
        background-color: #e6e6e6;
      };
    };
  }

  .menu-calendar {
    width: 250px;
    #id-of-calendar {
      display: none;
    }
  }

  .sub-menu-visible {
    display: block;
  }

  .sub-menu-hidden {
    display: none;
  }

  /*dropdow menu my calendar */
  .collapse.in {
    display: block;
  }

  .collapse {
    display: none;
    max-height: 140px;
    overflow: hidden;
    &:hover {
      overflow: auto;
    };
    ol, ul {
      margin-top: 0;
      margin-bottom: 0px;
    }
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
    .list-group {
      padding-left: 0;
      .list-group-item {
        position: relative;
        display: block;
        padding: 5px;
        margin-bottom: -1px;
        background-color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        &:hover {
          background-color: #e6e6e6;
          .clstMenu-child {
            display: block;
          };
        };
        label {
          display: block;
        };
        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -2px;
          *overflow: hidden;
        };
      }
      .sub-list {
        position: relative;
        display: block;
        padding: 5px 15px 5px 0px;
        margin-bottom: -1px;
        margin-left: -20px;
        background-color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        &:hover {
          background-color: #e6e6e6;
          .clstMenu-child {
            display: block;
          };
        };
        label {
          display: block;
        };
        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
        };
      }
    }
  }

  .background-hover {
    background-color: #e6e6e6!important;
    .clstMenu-child {
      display: block;
    };
  }

  .disable-on {
    pointer-events: none;
    opacity: 0.4;
  }
  .fc-button {
    background-image: none;
    border-radius: 0px;
  }
  .fc-widget-header {
    th {
      font-weight: normal;
      font-size: 14px;
    }
  }

  .hidden-menu {
    display: none !important;
  }
}

/* mini calendar */
td {
  font-size: 10px;
}
th {
  font-size: 10px;
}

.ui-datepicker-inline {
  width: 165px !important;
  display: block;
  border: none !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  border: none;
  background: #ffffff;
}

.ui-widget-header .ui-state-hover {
  border: none;
  background: none;
  font-weight: normal;
  cursor: pointer;
}

.ui-widget {
  font-size: 14px;
}

table.ui-datepicker-calendar {
  background-color: #ffffff;
  th {
    font-weight: normal;
    font-size: 13px;
  }
}

.ui-datepicker {
  padding: 0px!important;
  .ui-datepicker-title {
    margin: 0px!important;
    line-height: 2em;
    text-align: left!important;
    cursor: pointer;
    span {
      font-weight: normal;
    }
    &:hover {
      background-color: #e6e6e6;
    };
    th {
      padding: 0px;
    }
  }
  .ui-state-default {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    font-weight: normal;
    color: #000000;
    font-size: 12px;
  }
  td {
    a {
      text-align: center;
      padding: 0px;
      &:hover {
        background: #e6e6e6;
      };
    }
  }
  .ui-state-active {
    background: #e6e6e6;
  }
  .ui-state-highlight {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: bold;
  }
  .ui-datepicker-header {
    margin-top: 4px;
  }
}

a.ui-datepicker-prev.ui-corner-all {
  width: 15px;
  height: 15px;
  right: 10px!important;
  top: 11px;
  left: inherit;
}

a.ui-datepicker-next.ui-corner-all {
  width: 15px;
  height: 15px;
  top: 11px;
  right: -5px;
}

span.ui-icon.ui-icon-circle-triangle-w {
  width: 0px;
  height: 0px;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #2f2f2f;
  background-position: 0;
}

span.ui-icon.ui-icon-circle-triangle-e {
  width:0px;
  height:0px;
  border-bottom:6px solid transparent;
  border-top:6px solid transparent;
  border-left:6px solid #2f2f2f;
  background-position: 0;
}

/*pupup*/
#popup {
  .time-label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #9b9b9b
  }

  #title-popup {
    color: #373AD7;
    font-size: 15px;
    font-weight: bold;
    width: 335px;
    overflow: hidden;
    padding: 0px 5px;
    &:hover {
      background-color: #f1f1f1
    }
  }

  #title-input-popup {
    font-size: 15px;
    width: 335px;
    input {
      width: 100%;
    }
  }

  #time-event-popup {
    font-size: 13px;
    line-height: 24px;
  }

  .calendar-event-label {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: #9b9b9b;
  }

  .btn {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dcdcdc;
    padding: 0px 10px;
    background-color: #f5f5f5;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }

  .btn-right {
    color: white;
    float: right;
    margin-bottom: 16px;
    background-color: #4d90fe;
    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }
  }

  .data-none-display {
    display: none;
  }

  .data-display {
    display: inline-block;
  }

  .close-popup {
    background: url(image_path("combined_v46_vr.png")) -228px -48px;
    cursor: pointer;
    height: 13px;
    right: 16px;
    top: 16px;
    width: 13px;
    position: absolute;
    display: inline-block;
  }

  #current-user-id-popup {
    display: none;
  }

  #head-popup {
    height: 30px;
  }

  .content-popup {
    height: 60px;
    margin-bottom: 10px;
  }
}

#calendar-form {
  .form-action {
    margin: 10px 10px 10px 0px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    padding-top: 0px;
  }

  .form-group {
    padding: 0 0 10px 10px;
    width: 70%;
  }

  .form-content{
    padding: 0 0 10px 10px;
    width: 70%;
    border-bottom: 1px solid #ebebeb;
  }
}

/* checkbox calendars */
.divBox {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.divBox label {
  display: block;
  width: 13px;
  height: 13px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 1;
  background: white;
  border: 1px solid;
}

.divBox input[type=checkbox]:checked + label {
  background: green;
}

.divBox input[type=checkbox]:not(:checked) + label {
  background: white!important;
  border: 1px solid #dcdcdc!important;
}

.l-color {
  display: inline-block!important;
  margin: 5px!important;
  padding: 0px!important;
}
.checkbox-color {
  margin: 0px;
  display: block;
}

.checkbox-color .tag {
  color: green;
  display: block;
  float: left;
  font-weight: bold;
  position: relative;
  width: 120px;
}

.checkbox-color label {
  display: inline;
}

.checkbox-color .input-assumpte {
  display: none;
}

.input-assumpte + label {
  -webkit-appearance: none;
  background-color: green;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
}

.input-assumpte:checked + label:after {
  color: white;
  content: "\2714";
  font-size: 13px;
  left: 0px;
  padding: 2px 8px 2px 2px;
  position: absolute;
  top: 0px;
}

#cal-color .l-left {
  float: left;
  padding-top: 5px;
}

.color-1 {
  background-color: #AC725E!important;
  border-color: #AC725E!important;
}

.color-2 {
  background-color: #D06B64!important;
  border-color: #D06B64!important;
}

.color-3 {
  background-color: #F83A22!important;
  border-color: #F83A22!important;
}

.color-4 {
  background-color: #FA573C!important;
  border-color: #FA573C!important;
}

.color-5 {
  background-color: #FF7537!important;
  border-color: #FF7537!important;
}

.color-6 {
  background-color: #FFAD46!important;
  border-color: #FFAD46!important;
}

.color-7 {
  background-color: #42D692!important;
  border-color: #42D692!important;
}

.color-8 {
  background-color: #16A765!important;
  border-color: #16A765!important;
}

.color-9 {
  background-color: #B3DC6C!important;
  border-color: #B3DC6C!important;
}

.color-10 {
  background-color: #4986E7!important;
  border-color: #4986E7!important;
}

.color-11 {
  background-color: #FBE983!important;
  border-color: #FBE983!important;
}

.color-12 {
  background-color: #FAD165!important;
  border-color: #FAD165!important;
}

.fc-right {
  .fc-button {
    width: 60px;
  }
}

.sub-calendars li {
  font-size: 13px;
  margin: 5px;
}

.ui-datepicker th {
  padding-left: 0px!important;
}

.divider {
  height: 1px;
  margin: 13px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  padding: 0px;
}

.make-public {
  input {
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
  };

  span {
    margin-left: 24px;
    font-size: 11px;
  }

  div:last-child {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.share-calendar {
  text-align: left;
  p {
    font-weight: bold;
  }
  .col1, .col2, .col3 {
    height: 33px;
    line-height: 33px;
    float: left;
    display: inline;
  }
  .col1 {
    width: 40%;
  }
  .col2 {
    width: 40%;
  }
  .col3 {
    width: 20%;
  }
  #share-calendar-header {
    .col1, .col2, .col3 {
      font-weight: bold;
    }
  }
  #add-user-share {
    .col1, .col2, .col3 {
      background-color: #EFEDED;
    }
    .col1 {
      input {
        width: 200px;
      }
    }
    .col2 {
      button {
        vertical-align: middle;
        height: 24px;
        margin-top: 0px;
        cursor: pointer;
      }
      div {
        float: left;
        display: inline;
      }
    }
  }

  .permission-select {
    margin-top: 6px;
    padding: 2px;
    cursor: pointer;
  }
  .image-remove {
    zoom: reset;
    &:hover {
      cursor: pointer;
    };
  }
  .select2-container .select2-selection--single {
    height: 22px;
    line-height: 22px;
    border-radius: 0px;
    margin-left: 5px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 21px;
  }
  #list-share-calendar {
    .permission-select {
      width: 57%;
    }
  }
}

.select2-container--open .select2-dropdown {
  left: 5px!important;
}
.calendar-address {
  margin-left: 255px;
  cursor: pointer;
}
.cal-dialog {
  display: none;
  left: 150px;
  top: 250px;
  z-index: 1001;
  width: 600px;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cal-dialog-title {
  position: relative;
  background-color: #fff;
  padding: 10px 15px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  cursor: default;
}
.cal-dialog-title-close {
  background: url(image_path("combined_v46_vr.png")) -215px -51px;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 10px;
}
.cal-dialog-content {
  padding: 15px;
  background-color: #fff;
  color: #222
}
.cal-dialog-buttons {
  padding: 0 15px 15px;
  background-color: #fff;
}
#particular-calendar {
  margin: 5px 5px;
}
