.dialog {
  z-index: 1001;
  width: 400px;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog-visible {
  visibility: visible;
  z-index: 1011;
}

.dialog-hidden {
  visibility: hidden;
  top: 0;
}

.bubblemain {
  outline: medium none;
  padding: 16px;
  position: relative;
}

.tab-labels {
  height: 30px;
}

.tile-content {
  font-size: 13px;
  clear: both;
  position: relative;
}

.period-tile {
  color: #1b1b1b;
  font-family: Arial;
  font-size: 13px;
  clear: both;
}

.tile-label {
  height: 18px;
  line-height: 18px;
  color: #9b9b9b;
  font-size: 11px;
  font-weight: bold;
}

.error-title {
  color: red;
  line-height: 18px;
  height: 18px;
}

.event-time {
  line-height: 24px;
}

.gcal-textinput, UNUSED.gcal-contenteditable-textinput.textarea {
  box-sizing: border-box;
  color: #1b1b1b;
  padding: 3px;
  width: 100%;
}

.action {
  color: #1b1b1b;
  font-family: Arial;
  font-size: 13px;
  clear: both;
  height: 30px;
  line-height: 30px;
  position: relative;
  line-height: 30px;
  .right-actions {
    display: inline-block;
    float: right;
    margin-right: -16px;
  }
}

.select-calendar {
  color: #1b1b1b;
  font-family: Arial;
  font-size: 13px;
  clear: both;
  .title-label {
    height: 18px;
    line-height: 18px;
    color: #9b9b9b;
    font-size: 11px;
    font-weight: bold;
  }
  .calendar-container {
    height: 36px;
    line-height: 36px;
    position: relative;
    div {
      position: absolute;
      width: 100%;
      line-height: initial;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      select {
        box-sizing: border-box;
        color: #1b1b1b;
        padding: 3px;
        width: 100%;
      }
    }
  }
  .gcalSelect.goog-flat-menu-button {
    background-color: #fff;
    background-image: none;
  }
  .gcalSelect {
    display: inline-block;
    padding-left: 0;
    position: relative;
  }
}

.tab-container .tab-label {
  cursor: pointer;
}

.tab-container .tab-label {
  border-right: 1px solid #999;
  margin-left: 1ex;
  padding-right: 1ex;
}

.tab-container .tab-label:first-child {
  margin-left: 0;
}

.tab-container .tab-label:last-child {
  border-right: medium none;
  padding-right: 0;
}

.tab-container .tab-label.active {
  font-weight: bold;
}

.button {
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}

.button-action {
  background-color: #4d90fe;
  background-image: -moz-linear-gradient(center top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  box-shadow: none;
  color: #fff;
}

.button-action:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px #fff inset;
  outline: 0 none transparent;
}

.button-edit {
  background-color: #4CAF50;
  background-image: -moz-linear-gradient(center top, #4d90fe, #4787ed);
  border: 1px solid #4CAF50;
  box-shadow: none;
  color: #fff;
}

.bubble-close {
  background: url(image_path("combined_v46_vr.png")) -228px -48px;
  cursor: pointer;
  height: 13px;
  right: 16px;
  top: 16px;
  width: 13px;
  position: absolute;
}

.prong-dk {
  border: 9px solid;
  border-color: #ccc transparent;
}

.prong-dk, .prong-lt {
  position: absolute;
  left: 0;
  top: 0;
}

.prong-lt {
  border: 8px solid;
  border-color: #fff transparent;
  left: 1px;
}

.no-prong, .top-prong, .bottom-prong {
  position: absolute;
  height: 9px;
  width: 18px;
  overflow: hidden;
}

.overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000;
  background: #000;
  background: rgba(0,0,0,0.75);
}

/* Create event new page */
#event {
  .main-event-form{
    display: inline-block;
    width: 600px;
    padding-left: 30px;
  }

  .form-attendee{
    position: absolute;
    padding-top: 144px;
    .form-control{
      display: inline-block;
      width: 300px;
    }
  }

  .form-action {
    margin: 10px 10px 10px 0px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 10px 10px 30px;
  }

  label[for="event_to"]{
    margin: 0 15px;
  }

  .form-group {
    margin-top: 15px;
    margin-bottom: 14px;
    padding: 0;
    width: 100%;
    .select2 .selection .select2-selection {
      width: 100% !important;
      margin-top: 5px !important;
    }
    input.select2-search__field {
      -webkit-appearance: textfield;
      outline: none;
      padding: 0 6px;
    }
  }

  select {
    margin-top: 5px;
  }

  .notify{
    padding-left: 15px;
  }

  .fix-width-date {
    width: 101px;
    display: inline-block;
  }

  .fix-width-time {
    width: 70px;
    display: inline-block;
  }

  .dialog-repeat-event:hover {
    text-decoration: underline;
  }
  .checkox-new-event{
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
  }
  .all-day {
    width: 100px;
    float:left;
  }
  .cb-repeat {
    overflow: hidden;
  }
}

/* Show event detail */
#maincell {
  .contain {
    .form-action {
      margin: 10px 10px 10px 0px;
      border-bottom: 1px solid #ebebeb;
      padding: 0 10px 10px 30px;
    }

    .btn {
      padding: 6px 25px;
    }

    .btn-go-back {
      line-height: 28px;
    }

    .ev-title {

      padding-left: 30px;
      margin: 20px 0 10px;
      .title {
        font-size: 22px;
        line-height: 20px;
        font-weight: bold;
        margin-top: 10px;
      }
    }

    .ev-dt {
      font-size: 15px;
      font-style: italic;
      padding-left: 30px;
      margin-bottom: 10px;
      .lb-dt {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }

    .ev-cal {
      padding-left: 20px;
      padding-right: 20px;
      .ev-contain {
        .lb-contain {
          width: 49.95%;
          display: inline-block;
          float: left;
          .lbcal {
            padding: 0;
            vertical-align: top;
            ul {
              font-size: 16px;
              line-height: 20px;
              border-bottom: 1px solid #CCCCCC;
              margin: 0;
              padding: 0;
              list-style: none;
              display: table;
              table-layout: fixed;
              border-spacing: 10px;
              max-width: 500px;
              li:first-child {
                width: 90px;
                text-align: left;
                font-weight: bold;
              }
              li {
                width: 300px;
                float: left;
                padding-right: 15px;
                word-wrap: break-word;
              }
            }
            ul.end-list{
              border-bottom: 0px;
            }
          }
        }
        .ev-att {
          font-size: 16px;
          width: 49.55%;
          padding: 0;
          display: inline-block;
          float: left;
          .contain {
            width: 250px;
            list-style: none;
            .lb-attendees, .lb-notification {
              padding-left: 10px;
              font-weight: bold;
            }
            .form-field {
              .btn {
                background: #f5f5f5;
                border: 1px solid #dcdcdc;
                border-radius: 0px;
                color: #444;
                cursor: pointer;
                font-size: 11px;
                font-weight: bold;
                height: 27px;
                line-height: 27px;
                min-width: 54px;
                outline: none;
                padding: 0 8px;
                text-align: center;
                transition: all .218s;
                -moz-border-radius: 2px;
                -moz-transition: all .218s;
                -moz-user-select: none;
                -o-transition: all .218s;
                -webkit-border-radius: 2px;
                -webkit-transition: all .218s;
                -webkit-user-select: none;
                &:hover {
                  background: #f8f8f8;
                  border: 1px solid #c6c6c6;
                  box-shadow:  1px 1px rgba(0, 0, 0, 0.1);
                  color: #222;
                  transition: all 0s;
                  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  -moz-transition: all 0s;-o-transition:all 0s;
                  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  -webkit-transition: all 0s;
                  z-index:80
                }
                &:active {
                  background: #f6f6f6;
                  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
                }
              }
            }
            ul {
              list-style: none;
              padding-left: 10px;
              li {
                padding-bottom: 10px;
                .btn-del {
                  background: url(image_path("combined_v46_vr.png")) -228px -48px;
                  cursor: pointer;
                  height: 13px;
                  right: 16px;
                  top: 16px;
                  width: 13px;
                  float: left;
                  padding-right: 10px;
                }
              }
            }
          }
        }
        .ev-att::after{
          clear: both;
        }
      }
    }
  }
}
.fc-event {
  border-radius: 0px!important;
  font-size: 1.3em!important;
}

.before-current {
  background-color: #9FA59C!important;
  border-color: #9FA59C;
}

.modal-dialog {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #fff;
  padding: 5px 5px 15px 5px;
  border: 1px solid #acacac;
  z-index: 1011;
  color: #222;
  outline: 0;

  .btn {
    font-size: 11px;
    font-weight: bold;
  }

  .btn-confirm {
    width: 160px;
    margin-right: 10px;
  }

  .btn-right {
    float: right;
  }

  .modal-content {
    padding: 15px;
    background-color: #fff;
    color: #222;
  }

  .modal-title {
    position: relative;
    background-color: #fff;
    padding: 10px 15px;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
  }

  p {
    margin: 0 0 10px;
  }

  .explanation-cell {
    padding-top: 10px;
    font-size: 12px;
  }
}

#repeat {
  .ep-recl-dialog {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #acacac;
    z-index: 1011;
    color: #222;
    outline: 0;
  }

  div {
    display: block;
  }

  .ep-recl-dialog-title {
    position: relative;
    background-color: #fff;
    padding: 10px 15px;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
  }

  .ep-recl-dialog-title-close {
    background: url(image_path("combined_v46_vr.png")) -215px -51px;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 10px;
  }

  .ep-recl-dialog-content {
    padding: 15px;
    background-color: #fff;
    color: #222;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .ep-rec th {
    color: #222;
    font-weight: bold;
    padding: 5px 10px 5px 0;
    text-align: right;
    white-space: nowrap;
    font-size: 12px;
  }

  .ep-rec td {
    padding: 5px 0;
    font-size: 12px;
  }

  td, th {
    display: table-cell;
    vertical-align: inherit;
  }

  .ep-rec label {
    padding-left: 3px;
    padding-right: 3px;
    font-weight: normal;
  }

  #select-repeat-every {
    height: 19px;
    width: 39px!important;
  }

  .ep-rec-ends-th {
    vertical-align: top;
  }

  .ep-rec-ends-opt {
    display: block;
  }

  input[type="radio"] {
    margin: 3px 5px 3px 0;
  }

  input[type="radio"] {
    vertical-align: middle;
  }


  textarea, select {
    font-family: arial,sans-serif;
    font-size: 100%;
  }

  input[type="radio" i] {
    margin: 3px 3px 0px 5px;
  }

  input[type="radio" i] {
    -webkit-appearance: radio;
    box-sizing: border-box;
  }

  input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    padding: initial;
    border: initial;
  }

  textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
  }

  textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
  }


  .ep-rec-summary {
    font-weight: bold;
  }

  .ep-rec-buttons-padding {
    padding-top: 15px;
  }

  .ep-recl-dialog .goog-imageless-button {
    margin: 1px 5px 1px 1px;
  }

  .goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
  }

  .goog-imageless-button, .navbuttonouter {
    background: #f5f5f5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 9px;
    min-width: 54px;
    outline: none;
    padding: 0 8px;
    text-align: center;
    -moz-border-radius: 2px;
    -moz-transition: all .218s;
    -moz-user-select: none;
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
  }

  #start-date-repeat {
    width: 93px;
    height: 15px;
  }

  #end-date-repeat {
    width: 93px;
    height: 15px;
  }

  #repeat-text-field {
    width: 51px;
    height: 15px;
  }

  #repeat-text-fiel-on {
    width: 93px;
    height: 15px;
  }

  select:not([size]):not([multiple]), select[size="0"], select[size="1"] {
    background-color: #F0F0F0
  }

  keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
  }

  select:not(:-internal-list-box) {
    overflow: visible !important;
  }

  select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border: 1px solid;
  }

  input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
  }

  input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
  }

  .ep-rec-dow label {
    padding-right: 2px;
    width: 15px;
    height: 15px;
  }

  input[type="checkbox"], input[type="radio"], .ep-rec label {
    vertical-align: middle;
  }

  label {
    cursor: default;
  }
}
.bubble {
  width: 400px;
  left: 0;
  top: 0;
  z-index: 1001;
  position: absolute;
  visibility: hidden;
  font-size: 9px;
}

.bubble-table {
  table-layout: fixed;
  width: 100%;
}
.bubble-cell-side {
  width: 25px;
}
.bubble-corner {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
}
.bubble-tl {
  left: 0;
}
.bubble-sprite {
  width: 148px;
  height: 96px;
  position: absolute;
  background-image: url(image_path("bubble_combined_v2.png"));
}
.bubble-cell-main {
  background-color: #fff;
  width: 100%;
}
.bubble-top {
  border-top: 1px solid #ababab;
}
.bubble-top, .bubble-bottom {
  height: 24px;
  background: #fff;
}
.bubble-tr {
  left: -25px;
}
.bubble-mid {
  background: #fff;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  padding: 0 20px;
}
.bubble .details .title {
  font-weight: bold;
  font-size: medium;
}
.bubble .detail-content {
  padding-bottom: 0;
}
.detail-content {
  padding: 1em 0;
}
.detail-item {
  padding: 3px 0;
  margin: 0;
}
.bubble-bl {
  left: 0;
  top: -25px;
}
.bubble-bottom {
  border-bottom: 1px solid #ababab;
}
.bubble-br {
  left: -25px;
  top: -25px;
}
.event-details-label {
  display: block;
  clear: left;
  float: left;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  width: 7em;
  color: #4e4e4e;
}
.event-when {
  display: block;
  margin-left: 7em;
}
.bubble-closebutton {
  right: 10px;
  top: 10px;
  width: 14px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  background: url(image_path("combined_v22.png")) 0 -50px;
}
.prong {
  width: 98px;
  height: 72px;
  margin-bottom: -72px;
  position: relative;
  top: -1px;
  overflow: hidden;
}
.prong .bubble-sprite {
  left: -52px;
  top: -24px;
}
.show-popup {
  visibility: visible;
  left: 200px;
  top: 30px;
}
.hidden-popup {
  visibility: hidden;
  left: 0;
  top: 0;
}
.fc-content {
  cursor: pointer;
}
.links {
  color: -webkit-link;
  text-decoration: none;
  cursor: pointer;
}
.group_attendee{
  display:  block;
  li{
    display: inline-block;
  }
  .remove_attendee{
    margin-left: 13px;
    &:hover{
      cursor: pointer
    }
  }
}
.hidden {
  display: none;
}
