#sign-in {
  margin-top: 30px;
  .title > h1{
    text-align: center;
    font-family: "Open Sans", arial;
    color: #8A8787;
    font-size: 42px;
    font-weight: 200;
    margin-top: 27px;
    margin-bottom: 50px;
  }

  .sign-in-form-box{
    margin: 0 150px;
  }

  .sign-in-left{
    width: 60%;
    display: inline-block;
    h2{
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
      color: #737373;
      margin-top: 0px;
    }
    p{
      font-size: 14px;
      color: #737373;
      text-align: center;
    }
    img{
      margin-top: 50px;
    }
  }

  #sign-in-form {
    margin-bottom: 150px;
    float: right;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(237, 237, 237);
    background-color: #FFFFFFF;
    padding: 40px;
    border-radius: 7px;
    .form-header {
      height: 150px;
      border-radius: 10px 10px 0 0;
      padding: 1px 2px 20px 0px;
      h2 {
        text-align: center;
        color: white;
        font-size: 30px;
      }
      #image-header {
        height: 150px;
        width: 150px;
        margin: auto;
        background-color: white;
        border-radius: 100%;
        img {
          height: 150px;
          width: 150px;
          border-radius: 100%;
        }
      }
    }
    .form-body {
      padding: 10px 2px;
      .remember {
        color: #7B7979;
      }
      .login-button {
        margin-top: 20px;
        .btn {
          width: 100%;
        }
      }
    }
  }
}

#share-link {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

#sign-up {
  margin: 0 150px;
  margin-top: 30px;
  h1 {
    text-align: center;
    font-family: "Open Sans", arial;
    color: #8A8787;;
    font-size: 42px;
    font-weight: 200;
    margin-top: 27px;
    margin-bottom: 50px;
  }

  #sign-up-left {
    margin: 0px 420px 0px 0px;
    text-align: center;
    font-family: "Open Sans", arial;
    color: #737373;
    h2 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
      margin-top: -15px;
    }

    p {
      font-size: 14px;
    }

    img {
      margin-top: 50px;
    }
  }

  #sign-up-form {
    margin-bottom: 150px;
    padding: 40px;
    border: 0.7px solid rgb(237, 237, 237);
    border-radius: 7px;
    float: right;
    width: 300px;

    .signup-button {
      margin-top: 20px;
    }
  }
}

#update-profile {
  margin-right: 100px;
  .button {
    margin-top: 20px;
    .rc-button {
      border-radius: 3px;
      width: 30%;
      float: right;
    }
  }

  #change-profile-form {
    margin: 30px 180px;
    padding: 25px;
    background: none repeat scroll 0% 0%;
    border: 1px solid #E5E5E5;
    width: 890px;
    .form {
      margin: 0 50px 0 150px;
    }

    .field-name {
      position: absolute;
      margin-top: 15px;
    }

    .update-button {
      padding-right: 68px;
    }
  }

  #my-modal {
    .update-password {
      padding-right: 65px;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
}
