html, body {
  margin:0;
  padding:0;
  height:100%;
}

.container {
  height: 90%;
}

#header {
  width: 100%;
  background-color: #EFEDED;
  height: 44px;
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #logo {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 28px;
    float: left;
    border-right: none;
    width: 20%;
    .logo_left {
      margin: 10px 10px;
      padding-left: 20px;
      a {
        text-decoration: none;
        color: #337ab7;
        font-weight: bold;
        font-family: Book Antiqua, Palatino, sans-serif;
        &:hover {
          color: #747070;
        }
      }
    }
  }
  li {
    float: right;
    list-style-type: none;
    font-size: 14px;
    a {
      display: block;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      border-right: none;
      color: #747070;
    }
  }
}

.footer {
  border-top: 1px solid #E1E1E1;
  .container {
    margin-right: 100px;
    margin-left: 100px;
  }
  background-color: #EFEDED;
  .text-muted {
    margin: 20px 20px;
    font-size: 14px;
  }
}
