@import "color";

#header {
  height: 44px;
  width: 100%;
  background-color: $gray;
  color: $blue;
  position: fixed;
  top: 0px;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #logo {
    font-size: 28px;
    float: left;
    border-right: none;
    width: 20%;
    height: 44px;
    .logo_left {
      margin: 0px;
      padding: 6px 0px 6px 30px;
      a {
        text-decoration: none;
        color: $blue;
        font-weight: bold;
        line-height: 30px;
        transition: all 0.5s;
        &:hover {
          color: #4CAF50;
        }
      }
    }
  }
  li {
    float: right;
    list-style-type: none;
    font-size: 14px;
    a {
      display: block;
      text-align: center;
      padding: 5px 16px;
      text-decoration: none;
      border-right: none;
      color: #747070;
    }
  }
  li.avatar-box{
    padding-right: 30px;
  }

  .sub-menu {
    position: fixed;
    left: 0;
    float: left;
    z-index: 1000;
    background: #fff;
    white-space: nowrap;
    transition: opacity .218s;
    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    font-size: 13px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: left;
    div {
      cursor: pointer;
      text-decoration: none;
      text-align: left;
      a {
        color: #333;
      }
      &:hover {
        background-color: #e6e6e6;
      };
    };
  }

  .sub-menu-visible {
    display: block;
  }

  .sub-menu-hidden {
    display: none;
  }

  .username-hearder{
    padding: 12px;
    p{
      margin: 0px;
      line-height: 20px;
      font-size: 16px;
    }
  }

  .sub-setting {
    padding: 5px 10px;
  }

  .login{
    height: 44px;
    padding-right: 30px;
    a{
      font-size: 16px;
      line-height: 20px;
      padding: 12px;
    }
  }
}

.img-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  &:active {
    box-shadow: inset 0 30px 0 rgba(123, 123, 123, 0.15);
  }
}

.footer {
  padding: 23px 0px;
  height: 230px;
  background-color: $gray;
  color: $gray;
  margin-top: 50px;
}
