/*users show information*/
.user-info-body {
  overflow: auto;
  margin: 0 auto;
  width: 860px;
  padding: 10px;
  border: 1px solid #E6E9ED;
  .u-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    height: 30px;
    h2 {
      color: #73879C;
      text-align: center;
      margin-top: 0px
    }
  }

  ul {
    padding-left: 0px;
    li {
      list-style: none;
    }
  }
  .u-content {
    width: 100%;
    .user-info {
      background-color: #F5F7FA;
      text-align: center;
      padding: 10px;
      .u-name {
        color: blue;
      }
    }

    .u-calendar {
      text-align: left;
    }

    .user-events {
      h3 {
        margin: 0 0 0 10px;
      }

      .event-content {
        margin: 0 20px;
        line-height: 20px;
        li {
          padding: 8px 15px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border-radius: 4px;
        }
      }

      .calendar-event {
        font-style: italic;
        font-size: 11px;
      }

      .event-load {
        padding-left: 10px;
        text-align: center;
        .btn-load {
          color: #fff;
          background-color: #5cb85c;
          min-width: 100px;
          height: 30px;
          vertical-align: middle;
          border: 1px solid #4cae4c;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 400;
          &:hover {
            background-color: #449d44;
          }
        }

        .load-gif {
          background-image: url(image_path("loading.gif"));
          background-size: 15px 15px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .x-title {
      background: #F5F7FA;
      border: 0;
      padding: 7px 0;
      display: flex;
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: auto;
  }

  .col {
    float: left;
    position: relative;
  }

  .col-1 {
    width: 33.33333333%;
  }

  .col-2 {
    width: 66.66666666%;
  }
}
