<header id="header">
  <ul>
    <li id="logo"><%= link_to t("layout.framgia_crb"), "#" %></li>
    <li><%= link_to t("layout.sign_up"), "#" %></li>
    <li><%= link_to t("layout.log_in"), "#" %></li>
  </ul>
</header>
