<header id="header" class="logo">
  <div id="logo">
    <p class="logo_left">
      <%= link_to t("layout.calendar-logo"), root_path %>
    </p>
  </div>

  <ul>
    <% if user_signed_in? %>
      <li><%= link_to t("session.link.sign_out"), destroy_user_session_path,
        method: :delete %>
      </li>
      <li>
        <%= link_to t("layout.show"), user_path(current_user) %>
      </li>
    <% else %>
      <li><%= link_to t("layout.log_in"), new_user_session_path %></li>
    <% end %>
  </ul>
</header>
